PREFIX='CONFIG_'

## System basic config

CONFIG_SERVER_HOSTNAME='alarm'                 # Default hostname - change to your preference
CONFIG_SERVER_REMOTE_URL=''                    # Public endpoint

CONFIG_SYSTEM_KEYMAP='no'
CONFIG_SYSTEM_REGION='Europe/Oslo'
CONFIG_SYSTEM_EXTRA_LOCALE='nb_NO'             # Extra locale, if desirable (don't append charset)
CONFIG_SYSTEM_EXTRA_PACKAGES=''                # Extra packages to install with pacman
CONFIG_SYSTEM_EXTRA_PACKAGES_AUR='paru-bin'    # AUR packages to install

## root and users
CONFIG_USER_NAME='john'                        # Your unprivileged user
CONFIG_USER_PRIVKEY=""                         # Restore your user's private key
CONFIG_USER_AUTHORIZED_KEYS=''                 # Authorize these public keys to login as the new user
CONFIG_USER_DOTFILES=''                        # Fetch dotfiles (git repo)
CONFIG_USER_DOMAIN=''                          # Your personal domain.tld (will be advertised by DHCP, if active)
CONFIG_USER_EMAIL=''                           # Your e-mail address

## Network settings
# Avoid the default 192.168.0.0/24

CONFIG_LAN_INTERFACE='eth0'
CONFIG_LAN_NETWORK='192.168.0.0/24'            # LAN (Network ID), CIDR notation
CONFIG_LAN_GATEWAY='192.168.0.1'               # Router IP
CONFIG_LAN_IP='192.168.0.2'                    # Pi's IP

## DHCP
CONFIG_DHCP_SUBNET='192.168.0.0/24'
CONFIG_DHCP_START='192.168.0.100'
CONFIG_DHCP_END='192.168.0.200'
CONFIG_DHCP_LEASES=""                          # Separate each lease with mac,ip,hostname\n
CONFIG_DHCP_SERVICELESS_SUBNETS=''             # 192.168.2.0/24\n

# iptables
CONFIG_TRUSTED_NETWORKS='192.168.0.0/24,192.168.1.0/24'

## Wireguard

CONFIG_WIREGUARD_SUBNET='10.2.0.0/24'         # Wireguard LAN
CONFIG_WIREGUARD_EXTERNAL_PORT='51820'        # External port
CONFIG_WIREGUAR_PEERS=''                      # Space-separated list of name of peers to be created
CONFIG_WIREGUARD_ROUTES='192.168.0.0/24'      # List of static routes

# NFS
CONFIG_NFS='music,192.168.0.0/24\nDocuments,192.168.0.0/24,10.0.0.0/8\n'

## Per-container settings

# Code Server
CONFIG_CODESERVER_PASSWORD=''

# DuckDNS
CONFIG_DUCKDNS_USERNAME=''
CONFIG_DUCKDNS_TOKEN=''

# PiHole
CONFIG_PIHOLE_PW=''                             # PiHole's webadmin password

# Portainer-ce
CONFIG_PORTAINER_ADMIN_PW=''
# Create password hash with: htpasswd -nbB admin 'my_password' | cut -d':' -f2 | sed "s/\\$/\\\\$/g"
