## System basic config
# Dollar signs need to be escaped: \$

CONFIG_SERVER_HOSTNAME="alarm"                 # Default hostname - change to your preference
CONFIG_SERVER_REMOTE_URL=""                    # Remote URL to your server

CONFIG_SYSTEM_EXTRA_LOCALE="nb_NO.UTF-8"       # Extra locale, if desirable (xx_YY.UTF-8)
CONFIG_SYSTEM_SERVICES=""                      # Available: openvpn wireguard unbound docker
CONFIG_SYSTEM_EXTRA_PACKAGES=""                # Extra packages to install with pacman
CONFIG_SYSTEM_EXTRA_PACKAGES_AUR="paru-bin"    # AUR packages to install

## root and users

CONFIG_ROOT_PW="root"                          # root pw - change this
CONFIG_ROOT_COMMAND=""                         # Run this command as root before finishing

CONFIG_ALARM_PW="alarm"                        # Alarm pw - change this
CONFIG_ALARM_AUTHORIZED_KEY=""                 # Authorize this public key to login as alarm

CONFIG_USER_NAME="john"                        # Your unprivileged user
CONFIG_USER_PW=""                              # User pw - change this
CONFIG_USER_PRIVKEY=""                         # Restore your user's private key
CONFIG_USER_DOMAIN=""                          # Your personal domain.tld (will be advertised by DHCP, if active)
CONFIG_USER_EMAIL=""                           # Your e-mail address
CONFIG_USER_COMMAND=""                         # Custom command to be run at the end of the install

## Network settings
# Avoid the default 192.168.0.0/24

CONFIG_LAN_INTERFACE="eth0"
CONFIG_LAN_WIFI_SSID=""
CONFIG_LAN_WIFI_PASSPHRASE=""
CONFIG_LAN_NETWORK="192.168.0.0/24"            # LAN (Network ID), CIDR notation
CONFIG_LAN_GATEWAY="192.168.0.1"               # Router IP
CONFIG_LAN_IP="192.168.0.2"                    # Pi's IP

## OpenVPN
# (Avoid the default 10.8.0.0/24)

CONFIG_OPENVPN_COMMON_NAME="alarm"             # Common name (use for example your hostname)
CONFIG_OPENVPN_PASSPHRASE=""                   # CA passphrase
CONFIG_OPENVPN_SUBNET="10.9.0.0/24"            # OpenVPN LAN
CONFIG_OPENVPN_EXTERNAL_PORT="1194"            # External port

## Wireguard

CONFIG_WIREGUARD_SUBNET="10.10.0.0/24"         # Wireguard LAN
CONFIG_WIREGUARD_EXTERNAL_PORT="51820"         # External port
CONFIG_WIREGUARD_PEERDNS="192.168.0.2"         # Pushed DNS server

## Per-container settings

# Code Server
CONFIG_CODESERVER_PASSWORD=""

# DuckDNS
CONFIG_DUCKDNS_USERNAME=""
CONFIG_DUCKDNS_TOKEN=""

# OpenBudgeteer
CONFIG_OPENBUDGETEER_MYSQL_ROOT_PW=""
CONFIG_OPENBUDGETEER_MYSQL_USER_PW=""

# PiHole
CONFIG_PIHOLE_PW=""                             # PiHole's webadmin password
CONFIG_PIHOLE_DHCPD="false"                     # Use PiHole as a DHCP server?
CONFIG_PIHOLE_DHCP_START=""                     # 192.168.0.100
CONFIG_PIHOLE_DHCP_END=""                       # 192.168.0.254
CONFIG_PIHOLE_DHCP_STATIC_LEASE=""              # Static DHCP leases
# Format: dhcp-host=MAC_ADDRESS,IP,HOSTNAME\ndhcp-host=MAC_ADDRESS,IP,HOSTNAME\n

# Portainer-ce
CONFIG_PORTAINER_ADMIN_PW=""
# Create password hash with: htpasswd -nbB admin 'my_password' | cut -d':' -f2 | sed "s/\\$/\\\\$/g"
